In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [154]:
def subregions(continent = None,level=None,sep=None):
    countries_df = pd.read_csv('countries_iso.csv')
    countries = countries_df.drop_duplicates(subset=['Alpha-3 code'])
    
    if continent == None:
        df = countries
    else:
        continent = continent.capitalize()
        df = countries[countries['Continet'].str.capitalize()==continent]
    df = df.drop_duplicates(subset=['Subregions'])
    zfill = len(str(df['M49code_Subregions'].max()))
    zfill_c = len(str(df['M49code_continent'].max()))
    if level != None and sep == None:
        df['Subregions_code'] = df['M49code_continent'].astype(str).str.zfill(zfill)+'-'+df['M49code_Subregions'].astype(str).str.zfill(zfill)
    elif sep != None:
         df['Subregions_code'] = df['M49code_continent'].astype(str).str.zfill(zfill)+sep+df['M49code_Subregions'].astype(str).str.zfill(zfill)
    else:
        df['Subregions_code'] = df['M49code_Subregions'].astype(str).str.zfill(zfill)
    df['Continent_code'] = df['M49code_continent'].astype(str).str.zfill(zfill)
    df = df[['Continet','M49code_continent','Continent_code','Subregions','M49code_Subregions','Subregions_code']]
    return df

In [155]:
sub = subregions(continent='africa',level=2,sep="!")
sub

,Continet,M49code_continent,Continent_code,Subregions,M49code_Subregions,Subregions_code
42,Africa,2,02,Northern Africa,15,02!15
59,Africa,2,02,Middle Africa,17,02!17
163,Africa,2,02,Western Africa,11,02!11
185,Africa,2,02,Southern Africa,18,02!18
190,Africa,2,02,Eastern Africa,14,02!14

In [156]:
def continents():
    countries_df = pd.read_csv('countries_iso.csv')
    countries = countries_df.drop_duplicates(subset=['Alpha-3 code'])
    df = countries.drop_duplicates(subset=['Continet'])
    df = df[['Continet','M49code_continent']]
    zfill = len(str(df['M49code_continent'].max()))
    df['Continet_code'] = df['M49code_continent'].astype(str).str.zfill(zfill)
    return df

In [157]:
continents()

    Continet  M49code_continent Continet_code
0       Asia                142           142
9     Europe                150           150
42    Africa                  2           002
49   Oceania                  9           009
68  Americas                 10           010

In [158]:
def countries(continent=None,level=None,sep=None):
    countries_df = pd.read_csv('countries_iso.csv')
    countries = countries_df.drop_duplicates(subset=['Alpha-3 code'])
    
    if continent == None:
        df = countries
    else:
        continent = continent.capitalize()
        df = countries[countries['Continet'].str.capitalize()==continent]
    df = df.drop_duplicates(subset=['Country'])
    zfill = len(str(df['M49code_Subregions'].max()))
    zfillc = len(str(df['M49code_continent'].max()))
    zfill_country = len(str(df['M49Code_country'].max()))
    if (level != None or level !=1) and sep == None:
        df['Continent_code'] = df['M49code_continent'].astype(str).str.zfill(zfillc)
        df['Subregions_code'] = df['M49code_continent'].astype(str).str.zfill(zfillc)+'-'+df['M49code_Subregions'].astype(str).str.zfill(zfill)
        df['country_code'] = df['M49code_Subregions'].astype(str).str.zfill(zfill)+'-'+df['M49Code_country'].astype(str).str.zfill(zfill)
    if level == 1 and sep == None:
        df['Continent_code'] = df['M49code_continent'].astype(str).str.zfill(zfillc)
        df['Subregions_code'] = df['M49code_continent'].astype(str).str.zfill(zfillc)+'-'+df['M49code_Subregions'].astype(str).str.zfill(zfill)
        df['country_code'] = df['Subregions_code'].astype(str).str.zfill(zfill)+'-'+df['M49Code_country'].astype(str).str.zfill(zfill)
    elif level == 2 and sep == None:
        df['Continent_code'] = df['M49code_continent'].astype(str).str.zfill(zfillc)
        df['Subregions_code'] = df['M49code_continent'].astype(str).str.zfill(zfillc)+'-'+df['M49code_Subregions'].astype(str).str.zfill(zfill)
        df['country_code'] = df['M49code_Subregions'].astype(str).str.zfill(zfill)+'-'+df['M49Code_country'].astype(str).str.zfill(zfill)
  
    elif sep != None:
        df['Continent_code'] = df['M49code_continent'].astype(str).str.zfill(zfillc)
        df['Subregions_code'] = df['M49code_continent'].astype(str).str.zfill(zfillc)+sep+df['M49code_Subregions'].astype(str).str.zfill(zfill)
        df['country_code'] = df['M49code_Subregions'].astype(str).str.zfill(zfill)+sep+df['M49Code_country'].astype(str).str.zfill(zfill)   
    else:
        df['Subregions_code'] = df['M49code_Subregions'].astype(str).str.zfill(zfill)
        df['country_code'] = df['M49Code_country'].astype(str).str.zfill(zfill_country)    
        df['Continent_code'] = df['M49code_continent'].astype(str).str.zfill(zfillc)
    
    df = df[['Continet','M49code_continent','Continent_code','Subregions','M49code_Subregions','Subregions_code','Country','Alpha-3 code','M49Code_country','country_code']]
    return df

In [159]:
countries('Africa')

,Continet,M49code_continent,Continent_code,Subregions,M49code_Subregions,Subregions_code,Country,Alpha-3 code,M49Code_country,country_code
42,Africa,2,2,Northern Africa,15,15,Algeria,DZA,12,012
43,Africa,2,2,Northern Africa,15,15,Egypt,EGY,818,818
44,Africa,2,2,Northern Africa,15,15,Libya,LBY,434,434
45,Africa,2,2,Northern Africa,15,15,Morocco,MAR,504,504
46,Africa,2,2,Northern Africa,15,15,Sudan,SDN,729,729
47,Africa,2,2,Northern Africa,15,15,Tunisia,TUN,788,788
48,Africa,2,2,Northern Africa,15,15,Western Sahara,ESH,732,732
59,Africa,2,2,Middle Africa,17,17,Angola,AGO,24,024
60,Africa,2,2,Middle Africa,17,17,Cameroon,CMR,120,120
61,Africa,2,2,Middle Africa,17,17,Central African Republic,CAF,140,140
62,Africa,2,2,Middle Africa,17,17,Chad,TCD,148,148
63,Africa,2,2,Middle Africa,17,17,Congo,COG,178,178
64,Africa,2,2,Middle Africa,17,17,Democratic Republic of the Congo,COD,180,180
65,Africa,2,2,Middle Africa,17,17,Equatorial Guinea,GNQ,226,226
66,Africa,2,2,Middle Africa,17,17,Gabon,GAB,266,266
67,Africa,2,2,Middle Africa,17,17,Sao Tome and Principe,STP,678,678
163,Africa,2,2,Western Africa,11,11,Benin,BEN,204,204
164,Africa,2,2,Western Africa,11,11,Burkina Faso,BFA,854,854
165,Africa,2,2,Western Africa,11,11,Cabo Verde,CPV,132,132
166,Africa,2,2,Western Africa,11,11,Ivory Coast,CIV,384,384
167,Africa,2,2,Western Africa,11,11,Gambia,GMB,270,270
168,Africa,2,2,Western Africa,11,11,Ghana,GHA,288,288
169,Africa,2,2,Western Africa,11,11,Guinea,GIN,324,324
170,Africa,2,2,Western Africa,11,11,Guinea-Bissau,GNB,624,624
171,Africa,2,2,Western Africa,11,11,Liberia,LBR,430,430
172,Africa,2,2,Western Africa,11,11,Mali,MLI,466,466
173,Africa,2,2,Western Africa,11,11,Mauritania,MRT,478,478
174,Africa,2,2,Western Africa,11,11,Niger,NER,562,562
175,Africa,2,2,Western Africa,11,11,Nigeria,NGA,566,566
176,Africa,2,2,Western Africa,11,11,Saint Helena,SHN,654,654
177,Africa,2,2,Western Africa,11,11,Senegal,SEN,686,686
178,Africa,2,2,Western Africa,11,11,Sierra Leone,SLE,694,694
179,Africa,2,2,Western Africa,11,11,Togo,TGO,768,768
185,Africa,2,2,Southern Africa,18,18,Botswana,BWA,72,072
186,Africa,2,2,Southern Africa,18,18,Eswatini,SWZ,748,748
187,Africa,2,2,Southern Africa,18,18,Lesotho,LSO,426,426
188,Africa,2,2,Southern Africa,18,18,Namibia,NAM,516,516
189,Africa,2,2,Southern Africa,18,18,South Africa,ZAF,710,710
190,Africa,2,2,Eastern Africa,14,14,British Indian Ocean Territory,IOT,86,086
191,Africa,2,2,Eastern Africa,14,14,Burundi,BDI,108,108
192,Africa,2,2,Eastern Africa,14,14,Comoros,COM,174,174
193,Africa,2,2,Eastern Africa,14,14,Djibouti,DJI,262,262
194,Africa,2,2,Eastern Africa,14,14,Eritrea,ERI,232,232
195,Africa,2,2,Eastern Africa,14,14,Ethiopia,ETH,231,231
196,Africa,2,2,Eastern Africa,14,14,French Southern Territories,ATF,260,260
197,Africa,2,2,Eastern Africa,14,14,Kenya,KEN,404,404
198,Africa,2,2,Eastern Africa,14,14,Madagascar,MDG,450,450
199,Africa,2,2,Eastern Africa,14,14,Malawi,MWI,454,454
200,Africa,2,2,Eastern Africa,14,14,Mauritius,MUS,480,480
201,Africa,2,2,Eastern Africa,14,14,Mayotte,MYT,175,175
202,Africa,2,2,Eastern Africa,14,14,Mozambique,MOZ,508,508
203,Africa,2,2,Eastern Africa,14,14,Réunion,REU,638,638
204,Africa,2,2,Eastern Africa,14,14,Rwanda,RWA,646,646
205,Africa,2,2,Eastern Africa,14,14,Seychelles,SYC,690,690
206,Africa,2,2,Eastern Africa,14,14,Somalia,SOM,706,706
207,Africa,2,2,Eastern Africa,14,14,South Sudan,SSD,728,728
208,Africa,2,2,Eastern Africa,14,14,Uganda,UGA,800,800
209,Africa,2,2,Eastern Africa,14,14,United Republic of Tanzania,TZA,834,834
210,Africa,2,2,Eastern Africa,14,14,Zambia,ZMB,894,894
211,Africa,2,2,Eastern Africa,14,14,Zimbabwe,ZWE,716,716

In [160]:
countries()

,Continet,M49code_continent,Continent_code,Subregions,M49code_Subregions,Subregions_code,Country,Alpha-3 code,M49Code_country,country_code
0,Asia,142,142,Southern Asia,34,034,Afghanistan,AFG,4,004
1,Asia,142,142,Southern Asia,34,034,Bangladesh,BGD,50,050
2,Asia,142,142,Southern Asia,34,034,Bhutan,BTN,64,064
3,Asia,142,142,Southern Asia,34,034,India,IND,356,356
4,Asia,142,142,Southern Asia,34,034,Iran (Islamic Republic of),IRN,364,364
...,...,...,...,...,...,...,...,...,...,...
243,Asia,142,142,Central Asia,143,143,Kazakhstan,KAZ,398,398
244,Asia,142,142,Central Asia,143,143,Kyrgyzstan,KGZ,417,417
245,Asia,142,142,Central Asia,143,143,Tajikistan,TJK,762,762
246,Asia,142,142,Central Asia,143,143,Turkmenistan,TKM,795,795
247,Asia,142,142,Central Asia,143,143,Uzbekistan,UZB,860,860

In [161]:
iso.head(5)

,Subdivision category,3166-2 code,Subdivision name,Local variant,Language code,Romanization system,Parent subdivision
0,province,AF-BDS*,Badakhshān,NaN,fa,BGN/PCGN 2007,NaN
1,province,AF-BDS*,Badakhshān,NaN,ps,BGN/PCGN 2007,NaN
2,province,AF-BGL*,Baghlān,NaN,fa,BGN/PCGN 2007,NaN
3,province,AF-BGL*,Baghlān,NaN,ps,BGN/PCGN 2007,NaN
4,province,AF-BAL*,Balkh,NaN,fa,BGN/PCGN 2007,NaN

In [162]:
iso.columns

Index(['Subdivision category', '3166-2 code', 'Subdivision name',
       'Local variant', 'Language code', 'Romanization system',
       'Parent subdivision'],
      dtype='object')

In [163]:
def country(country =None):
    countries_df = pd.read_csv('countries_iso.csv')
    countries = pd.read_csv('countries.csv')
    countries_sub = pd.read_csv('countryiso.csv')
    iso = pd.read_csv('sub_div_countries.csv')
    iso_df.loc['subdiv-code'] = iso_df['3166-2 code'].str.replace('*', '')
    iso_df[['Alpha-2 code','sub-code']] = iso_df['3166-2 code'].str.replace('*', '').str.split('-', expand = True)
    country_df = pd.merge(countries_sub,iso_df,on='Alpha-2 code',how='inner')
    countrydf = pd.merge(countries,country_df,on='Alpha-3 code',how='inner')
    zfill_country = len(str(countries_df['M49Code_country'].max()))
    zfill = len(str(countrydf['M49code_Subregions'].max()))
    zfillc = len(str(countrydf['M49code_continent'].max()))
    countrydf['Subregions_code'] = countrydf['M49code_Subregions'].astype(str).str.zfill(zfill)
    countrydf['country_code'] = countrydf['M49Code_country'].astype(str).str.zfill(zfill_country)    
    countrydf['Continent_code'] = countrydf['M49code_continent'].astype(str).str.zfill(zfillc)
    countrydf = countrydf[['Continet','M49code_continent','Continent_code','Subregions','M49code_Subregions','Subregions_code','Country','M49Code_country','country_code','Alpha-3 code','Alpha-2 code','Subdivision category',
           'Subdivision name', '3166-2 code', 'sub-code']]

    if country == None:
            df = countrydf
    else:
            country = country.capitalize()
            df = countrydf[(countrydf['Country'].str.capitalize()==country) | (countrydf['Alpha-2 code'].str.upper()==country.upper()) | (countrydf['Subregions'].str.capitalize()==country.capitalize()) | (countrydf['Continet'].str.capitalize()==country.capitalize())]
    df = df.drop_duplicates(subset=['3166-2 code'])
    return df

In [164]:
countries_df = pd.read_csv('countries_iso.csv')
countries = pd.read_csv('countries.csv')
countries_sub = pd.read_csv('countryiso.csv')

In [173]:
country('sl')

,Continet,M49code_continent,Continent_code,Subregions,M49code_Subregions,Subregions_code,Country,M49Code_country,country_code,Alpha-3 code,Alpha-2 code,Subdivision category,Subdivision name,3166-2 code,sub-code
4329,Africa,2,002,Western Africa,11,011,Sierra Leone,694,694,SLE,SL,province,Eastern,SL-E,E
4330,Africa,2,002,Western Africa,11,011,Sierra Leone,694,694,SLE,SL,province,North Western,SL-NW,NW
4331,Africa,2,002,Western Africa,11,011,Sierra Leone,694,694,SLE,SL,province,Northern,SL-N,N
4332,Africa,2,002,Western Africa,11,011,Sierra Leone,694,694,SLE,SL,province,Southern,SL-S,S
4333,Africa,2,002,Western Africa,11,011,Sierra Leone,694,694,SLE,SL,area,Western Area (Freetown),SL-W,W

In [166]:
country('Northern Africa').head(2)

,Continet,M49code_continent,Continent_code,Subregions,M49code_Subregions,Subregions_code,Country,M49Code_country,country_code,Alpha-3 code,Alpha-2 code,Subdivision category,Subdivision name,3166-2 code,sub-code
1733,Africa,2,002,Northern Africa,15,015,Algeria,12,012,DZA,DZ,province,Adrar,DZ-01,01
1734,Africa,2,002,Northern Africa,15,015,Algeria,12,012,DZA,DZ,province,Alger,DZ-16,16

In [167]:
ct =  country()

In [168]:
def uniqueid(df,level_four_df,column):
        #name of code columns
        zfill = len(str(df.shape[0]))
        prevoius_level = list(level_four_df.columns)
        #Name the coded column in the dataframe
        level_code_col = '{}_code'.format(column)
        df[level_code_col] = (df.index+1).astype(str).str.zfill(zfill)
        columns = [pcolumn for pcolumn in level_four_df if "code" not in pcolumn]
        columns.append(column)
        columns.append(level_code_col)
        return df

In [169]:
couti = countries[['Country','Alpha-3 code']]

In [170]:
offices= uniqueid(couti,ct,'country_office')

In [171]:
def gencode(level_df,uniqueid_df,cat_df=None,level_column=None,uniqueid_column=None,columns=None,title=None,sep=None):
        column = columns
        
        df = pd.merge(level_df,uniqueid_df,on=column,how='inner')
        if cat_df is not None:
            cat_df_col_ = cat_df.columns[0]
            df_final = pd.merge(df,cat_df,on=cat_df_col_,how='inner')
        else:
            df_final = df
        
        if sep is not None:
            df_final[title] = df_final[level_column].astype(str)+sep+df_final[uniqueid_column].astype(str)
        else:
            cat_df_col = cat_df_col_
            df_final[title] = df_final[level_column].astype(str)+df_final[uniqueid_column].astype(str)
        return df_final

In [172]:
gencode(ct,offices,level_column='country_code',uniqueid_column='country_office_code',columns=['Country','Alpha-3 code'],title='Office_id',sep='-')

,Continet,M49code_continent,Continent_code,Subregions,M49code_Subregions,Subregions_code,Country,M49Code_country,country_code,Alpha-3 code,Alpha-2 code,Subdivision category,Subdivision name,3166-2 code,sub-code,country_office_code,Office_id
0,Asia,142,142,Southern Asia,34,034,Afghanistan,4,004,AFG,AF,province,Badakhshān,AF-BDS,BDS,001,004-001
1,Asia,142,142,Southern Asia,34,034,Afghanistan,4,004,AFG,AF,province,Baghlān,AF-BGL,BGL,001,004-001
2,Asia,142,142,Southern Asia,34,034,Afghanistan,4,004,AFG,AF,province,Balkh,AF-BAL,BAL,001,004-001
3,Asia,142,142,Southern Asia,34,034,Afghanistan,4,004,AFG,AF,province,Bādghīs,AF-BDG,BDG,001,004-001
4,Asia,142,142,Southern Asia,34,034,Afghanistan,4,004,AFG,AF,province,Bāmyān,AF-BAM,BAM,001,004-001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4829,Asia,142,142,Central Asia,143,143,Uzbekistan,860,860,UZB,UZ,region,Sirdaryo,UZ-SI,SI,248,860-248
4830,Asia,142,142,Central Asia,143,143,Uzbekistan,860,860,UZB,UZ,region,Surxondaryo,UZ-SU,SU,248,860-248
4831,Asia,142,142,Central Asia,143,143,Uzbekistan,860,860,UZB,UZ,region,Toshkent,UZ-TO,TO,248,860-248
4832,Asia,142,142,Central Asia,143,143,Uzbekistan,860,860,UZB,UZ,city,Toshkent,UZ-TK,TK,248,860-248
4833,Asia,142,142,Central Asia,143,143,Uzbekistan,860,860,UZB,UZ,region,Xorazm,UZ-XO,XO,248,860-248